{
    "campus": "PNNL", # if omitted defaults to ""
    "building": "SEB", # if omitted defaults to ""
    "input_data_timezone": "US/Pacific", # if omitted defaults to "UTC"
    "supplier_market_name": "electric",
    "tns": false,
    # "demand_limit": 500,
    "agent_name": "meter",
    "inputs": [ 
        {
            "mapped": "wbp", # mapped value does not change (for rtu agent or vav agent)
            "point": "WholeBuildingPower",
            "topic": "devices/PNNL/SEB/ELECTRIC_METER/all",
            "inital_value": 0
        }
    ],
    "outputs": [],
    "schedule":{},

    "model_parameters": {
        "model_type": "simple"
	}
}
